name: Start Mac Box
on:
  workflow_dispatch:
#     inputs:
#       debug_enabled:
#         description: 'Run the work flow with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
#         required: false
#         default: 'false'
defaults:
  run:
    shell: bash
jobs:
  Start:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Preparing configs
      env:
        PUB_KEY_4_MMB: ${{ secrets.PUB_KEY_4_MMB }}
      run: |
        tmateConfigPath="$HOME/.tmate.conf"
        authorizedKeysPath="$HOME/.ssh/authorized_keys"
        # copy over config file
        cp ./.tmate.conf $tmateConfigPath
        cat "$tmateConfigPath"
        # generate authorized_keys file
        echo "$PUB_KEY_4_MMB" >> "$authorizedKeysPath"
        cat "$authorizedKeysPath"
    - name: Install tmate client
      run: |
        # install tmate client
        brew install tmate
    - name: Start tmate session
      env:
        TMAK: ${{ secrets.TMAK }}
      # if: ${{ failure() }}
#       if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      run: |
        # get installed version
        tmate -V
        # start tmate
        sockPath="/tmp/tmate.sock"
        tmate -S "$sockPath" -k "$TMAK" -d -v || :
        ls -la
        # tmate -k $TMAK new-session -s $(whoami) -d
        # tmate show-messages
      #uses: mxschmitt/action-tmate@v3
      #with:
      #  sudo: false
      #  limit-access-to-actor: true
      #timeout-minutes: 60
      
