name: Start Mac Box
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the work flow with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
        required: false
        default: '0'
jobs:
  Start:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Setup tmate session
      # if: ${{ failure() }}
      if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      uses: mxschmitt/action-tmate@v2
      with:
        sudo: false
        limit-access-to-actor: true
      timeout-minutes: 60
      
