name: Start Mac Box
on:
  workflow_dispatch:
    inputs:
#       debug_enabled:
#         description: 'Run the work flow with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
#         required: false
#         default: 'false'
      timeout:
        description: 'How much time the box alive (in minutes)'     
        required: false
        default: '60'
defaults:
  run:
    shell: bash
jobs:
  Start:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Install Flutter
      uses: subosito/flutter-action@v1.5.3
      with:
          channel: 'stable'
          flutter-version: '2.2.3'
    - name: Preparing stuff
      env:
        PUB_KEY_4_MMB: ${{ secrets.PUB_KEY_4_MMB }}
      run: |
        sshBasePath="$HOME/.ssh"
        idrsaPath="$sshBasePath/id_rsa"
        tmateConfigPath="$HOME/.tmate.conf"
        authorizedKeysPath="$sshBasePath/authorized_keys"
        # copy over config file
        cp ./.tmate.conf $tmateConfigPath
        echo "set tmate-authorized-keys \"$HOME/.ssh/authorized_keys\"" >> $tmateConfigPath
        cat "$tmateConfigPath"
        # generate authorized_keys file
        echo "$PUB_KEY_4_MMB" >> "$authorizedKeysPath"
        cat "$authorizedKeysPath"
        # Generating SSH keys
        echo "Generating SSH keys"
        echo -e 'y\n'|ssh-keygen -q -t rsa -N "" -f "$idrsaPath"
        ls -l "$sshBasePath"
        echo "Generated SSH-Key successfully"
    - name: Install tmate client
      run: |
        # install tmate client
        brew install tmate
    - name: Start tmate session
      env:
        TMAK: ${{ secrets.TMAK }}
        TIME_TO_ALIVE: ${{ github.event.inputs.timeout }}
      # if: ${{ failure() }}
#       if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      run: |
        # get installed version
        tmate -V
        # run
        source ./main.sh
      #uses: mxschmitt/action-tmate@v3
      #with:
      #  sudo: false
      #  limit-access-to-actor: true
      #timeout-minutes: 60
      
